
body {
  margin: 40px auto;
  line-height: 1.6;
  color: #444;
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
  max-width: 80%;
}
h1,
h2,
h3 {
  line-height: 1.6;
}

nav ul li {
  display: inline;
  margin: 20px;
}

nav ul {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

nav {
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  font-size: 1.5em;
}

/*.container {*/
/*  display: grid;*/
/*  grid-template-areas:*/
/*      'name-cell      nav-cell'*/
/*      'pic-cell       content-cell'*/
/*      'contact-cell   content-cell';*/
/*  grid-template-columns: 500px auto;*/
/*  gap: 10px;*/
/*}*/

.name-cell {
  grid-area: name-cell;
}

.name h1 {
  color: blue;
  font-weight: bolder;
}

.name {
  display: grid;
  align-content: center;
  height: 100%;
}

.nav-cell {
  grid-area: nav-cell;
  padding: 30px 100px;
}

.pic-cell {
  grid-area: pic-cell;
}

.mypic > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.content-cell {
  grid-area: content-cell;
}

.contact-cell {
  grid-area: contact-cell;
  padding: 50px 0;
}

.link_1 {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link_2 {
  margin: 50px auto;
  width: 80%;
  display: flex;
  align-items: center;
}

.link_1 h2 {
  color: red;
  font-size: 46px;
}

.link_2 h2 {
  color: red;
  font-size: 46px;
}

.proj-img {
  display: inline;
  width: 300px;
  transition: width 1s, height 1s;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proj-img:hover {
  position: relative;
  width: 350px;
  height: auto;
  display: grid;
  z-index: 999;
}

.proj-links {
  grid-template-columns: auto auto;
  display: grid;
  justify-content: space-evenly;
}

@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
      'name-cell      nav-cell'
      'pic-cell       content-cell'
      'contact-cell   content-cell';
    grid-template-columns: 300px auto;
    gap: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      'name-cell'
      'nav-cell'
      'pic-cell'
      'content-cell'
      'contact-cell';
    gap: 10px;
  }
  h1 {
    text-align: center;
  }

  .mypic {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      'name-cell'
      'nav-cell'
      'pic-cell'
      'content-cell'
      'contact-cell';
    gap: 10px;
  }

  nav ul {
    justify-content: center;
  }

  .mypic {
    flex: 0 10%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .proj-links {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
  }
}





